*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-image: url('./img/7670528.jpg');
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    width: 100vh;
    position: relative;
   
  }
  .title{
    font-size: 3rem;
    color: goldenrod;
    display: flex;
    align-items: center; 
    padding: 50px;
    margin-top: 100px;
  }
 .btn{
    color: gold;
    width: 350px;
    font-size: 2rem;
    padding: 20px;
    margin-left: 50px;
  }
  .turn{
    height: 90px;
    width: 90px;
    background-color: black;
    position: absolute;
    top: 90px;
    left: 1119px;
    border-radius: 50%;

  }
  .msg{
    font-size: 1rem;
    color: brown;
  }
   .msg1{
    color:black;
     height: 250px;
    width: 130px; 
    position: absolute;
    top: 240px;
    left: 605px;
    font-size: 3rem;
    border: 1px solid black;
    border-radius: 20px;
    text-align: center;

  }
  .msg2{
    color:black;
    height: 250px;
    width: 130px;
    position: absolute;
    top: 240px;
    left: 780px;
    font-size: 3rem;
    border: 1px solid black;
    border-radius: 20px;
    text-align: center;

  }
  .msg3{
    color:black;
    height: 250px;
    width: 130px;
    position: absolute;
    top: 240px;
    left: 945px;
    font-size: 3rem;
    border: 1px solid black;
    border-radius: 20px;
    text-align: center;
  } 
  .light{
    width: 90px;
    height: 80px;
    border: 1px solid chartreuse;
    border-radius: 70px 70px 0 0;
    background-color: chartreuse;
    position: absolute;
    top: -29px;
    left: 795px;

  }
  .sec{
    display: flex;
    flex-direction: column;
  }
  .guess1{
    margin-left: 80px;
    margin-top: 20px;
    height: 50px;
    width: 250px;
    background-color:black;
    color: goldenrod;
   
  }
  .guess2{
    margin-left: 80px;
    margin-top: 20px;
    height: 50px;
    width: 250px;
    background-color:black;
    color: goldenrod;
  }
  .guess3{
    margin-left: 80px;
    margin-top: 20px;
    height: 50px;
    width: 250px;
    background-color:black;
    color: goldenrod;
  }
  .check{
    margin-left: 80px;
    margin-top: 20px;
    height: 50px;
    width: 250px;
    background-color: gray;

  }
  
  #selectedOption{
    margin-left: 80px;
    margin-top: 20px;
    height: 50px;
    width: 250px;
    text-align: start;
    font-weight: 40rem;
    background-color:black;
    color: goldenrod;
  }
  .sc{
    position: absolute;
    top: 140px;
    left: 1300px;
    height: 200px;
    width: 300px;
    background-color: gray;
}
.score{
    margin-left: 20px;
    margin-top: 20px;
    color: gold;
    font-size: 2rem;
}
.totalscore{
    margin-left: 20px;
    margin-top: 20px;
    color: gold;
    font-size: 2rem;
}